.carouselButton {
    position: absolute;
    top: 0;
    height: 100%;
    width: 5%;
    background: #fff;
    text-align: center;
    border: none;
}

.carouselButton.left {
    left: 0;
}

.carouselButton.right {
    right: 0;
}

.carouselButton img {
    position: absolute;
    top: 40%;
}

.carouselButton.left img {
    left: 10%;
}

.carouselButton.right img {
    left: 10%;
}