.carousel {
    width: 80%;
    margin: auto;
    margin-left: 17%
}
.carouselHeading {
    font-weight: 200;
    text-align: center;
    margin-left: 12%;
    margin-bottom: 25px;
}

.products {
    display: inline-flex;
}

.productContainer {
    overflow: hidden;
    margin: 0 5%;
}
.carousel .swiper-slide {
    width: 25.2% !important;
    margin-right: 0px !important;
}
.carousel .productWidget {
    width: 90%;
}
.swiper-pagination {
    display: none;
}
@media only screen and (max-width: 600px) {
    .carouselHeading{
        margin-left: 0px;
    }
    .carousel{
        width: 90%;
        margin: auto;
    }
    .carouselHeading{
        margin-top: 25px;
    }
}