.pdpcarouselHeading{
    text-align: center;
    width: 100%;
    margin-top: 43px;
    margin-bottom: 10px;
    font-weight: 200;
    font-family: sans-serif;
}
.pdpcarousel {
    position: relative;
    width: 95%;
    margin: auto;
}
.pdpCarouselContainer {
    width: 98%;
    margin:auto
}
/* .pdpCarouselContainer .productWidget {
    width: 327px;
    height: auto;
    display: inline-block;
    padding-top: 20px;
    cursor: pointer;
} */
.pdpCarouselContainer .swiper-slide:first-of-type {
    margin-left: 37px;
}
.pdpCarouselContainer .swiper-slide {
    width: 314px !important;
    margin-right: 15px;
}

@media only screen and (max-width: 600px) {
    .pdpCarouselContainer {
        width: 93%;
        margin:auto
    }
    .pdpcarouselHeading {
        font-weight: 400;
        text-align: left;
        margin-left: 15px;
        margin-top: 48px;
    }
    .productNameAndPriceContainer p {
        margin-top: 19px;
        padding-right: 10px;
        margin-bottom: 8px;
        font-weight: 400;
    }
    .pdpCarouselContainer .productWidget {
        width: 100%;
    }
    .pdpCarouselContainer .swiper-slide {
        padding-left: 0px;
        width: 326px !important;
    }
}
