.productWidget {
    width: 276px;
    height: auto;
    display: inline-block;
    margin: 0px 10px;
    padding-top: 20px;
    cursor: pointer;
}

.productTitle {
    margin: 0;
}

.productImage{
    width: 100%;
    height: auto;
}

.productPrice {
    margin: 3px;
}
@media only screen and (max-width: 600px) {
    .productWidget {
        width: 100%;
    }
}



