.productWidget {
    width: 282px;
    height: auto;
    display: inline-block;
    margin: 0px 10px;
    padding-top: 20px;
    cursor: pointer;
}

.productTitle {
    margin: 10px 0 0 0;
    font-family: Montserrat;
    font-weight: 100;
    font-size: 18px;
}

.productImage{
    width: 100%;
    height: auto;
}

.productPrice {
    margin: 3px;
    font-family: Montserrat;
    font-size:18px;
    color: #676767;
    font-weight: 100
}
.productTitlePriceContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

@media only screen and (max-width: 600px) {
    .productWidget {
        width: 100%;
    }
}



