.open-sidebar {
    cursor: pointer
}
.MuiLinearProgress-colorPrimary {
    background-color: rgb(255 255 255) !important;
}
.MuiLinearProgress-bar {
    border-radius: 75px !important;
}
.MuiLinearProgress-root {
    height: 4px !important;
    overflow: hidden !important;
    position: relative !important;
    height: 25px !important;
    overflow: hidden !important;
    position: relative !important;
    border: 1px solid #667085 !important;
    border-radius: 73px !important;
}
.sidebarCard {
    margin-top: 60px;
}
.sidebarCard > div {
    padding: 0px 16px;
}
.secondSidebarCard {
    margin-top: 19px;
}
.secondSidebarCard > div {
    padding: 0px 16px;

}
.sidebarCardHeading {
    display: flex;
}
.sidebarCardInfoHeading {
    text-align: left;
    font-weight: 700;
    font-size: 16px;
    margin: 0px 8px;
    color: #000;
}
.sidebarCardInfoSubHeading {
    text-align: left;
    font-weight: 700;
    font-size: 11px;
    color: #000;
    margin: 0px;
    margin-left:6px;
}
.customTarget {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #101828;
    margin-top: 5px;
    margin-bottom: 3px;
}
.checkboxContainer div {
    display:flex !important;
    flex-direction: column !important;
    margin-right: 9px !important;
}
.MuiTypography-body1 {
    font-size: 12px !important;
}
.MuiCheckbox-root path {
    color: #DBDFE5 !important;
    background: #F9F5FF;
    border: 1px solid #DBDFE5;
    border-radius: 4px;
}
.PrivateSwitchBase-root-10 {
    padding-right: 4px;
}
.Luxury .MuiFormControlLabel-label {
    color: #6941C6;
    background: #FBF7FF;
    border-radius: 46px;
    width: 71px;
    color:  #027948;
    background: #ECFDF3;
    border-radius: 46px;
    width: 71px;
    text-align: center;
}
.Decore .MuiFormControlLabel-label {
    color:  #027948;
    background: #ECFDF3;
    border-radius: 46px;
    width: 71px;
    text-align: center;
}
.Furniture .MuiFormControlLabel-label {
    color: #175CD3;
    background: #EFF8FF;
    border-radius: 46px;
    width: 77px;
    text-align: center;
}
.Bedroom .MuiFormControlLabel-label {
    color: #5A5ED7;
    background: #EEF4FF;
    border-radius: 46px;
    width: 92px;
    text-align: center;
}
.Kitchen .MuiFormControlLabel-label {
    color: #C21977;
    background: #FDF2FA;
    border-radius: 46px;
    width: 74px;
    text-align: center;
}
.sidebar-logo {
    position: absolute;
    width: 58%;
    left: 20%;
    padding: 16px;
}

.hrFirst {
    height: 3px !important;
    background: #aab0c2;
    margin-bottom: 0px;
    margin-top: 0px;
}
.hrSecond {
    height: 3px !important;
    background: #aab0c2;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}
.hrThird {
    height: 3px !important;
    background: #aab0c2;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}
.hrFourth {
    height: 3px !important;
    background: #aab0c2;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
}
.cardTagsSubmitContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.cardTagsCancelBtn {
    border: 1px solid #DBDFE5;
    border-radius: 7px;
    background: #fff;
    color: #000;
    margin-right: 12px;
}
.cardTagsApplyBtn {
    color: #fff;
    margin-right: 12px;
    background: #0F147D;
    border-radius: 7px;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1.4px;
    padding-bottom: 3px;
}
.bvsProgressValue{
    color: #b6afa2;
    margin: 0px;
    position: absolute;
    right: 15%;
}
.tagsProgressValue{
    color: #b6afa2;
    margin: 0px;
    position: absolute;
    right: 15%;
}
.MuiFormControlLabel-root {
    margin-right: 0px !important;
}
.makeStyles-drawerPaper-2 {
    padding: 0px !important;
}
.MuiBox-root {
    display: flex !important;
    justify-content: space-between !important;
}
.MuiLinearProgress-root {
    width: 100% !important;
}