.pcHomeSliderContainer {
    width: 78.8%;
    margin-left: 17.6%;
    margin-top: 35px;
    margin-bottom: 75px;
}
.mbHomeSliderContainer {
    display:none
}
.mySwiper {
    cursor: pointer;
}
.sliderImg {
    height: auto;
    width: 100%;
    /* margin-left: auto; */
}
.homeInfoContainer {
    width: 78.8%;
    margin-left: 17.6%;
}
.homeInfoContainer p {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    margin-top: 14px;
    width: 70%;
}
.sidebarIcon {
    display: flex;
    align-items: center;
    position: fixed;
    top: 9px;
    left: 0;
    width: 78.8%;
    margin-left: 0.6%;
    z-index: 9999;
    cursor:pointer
}
.sidebarIcon img {
    width: 53px;
    height: 100%;
    margin-right: 5px;
}
.h1Home {
    font-family: sans-serif;
    font-weight: 400;
    color: #000;
    margin-bottom:0px
}
.h1Heading {
    display: none;
}
@media only screen and (max-width: 600px) {
    .pcHomeSliderContainer {
        display:none
    }
    .mbHomeSliderContainer {
        display:block
    }
    .sliderImg {
        width: 100%; 
        height: 100%; 
        object-fit: contain;
    }
    .sidebarIcon {
        top: 60px;
    }
    .h1Home {
        display:none
    }
    .h1Heading {
        display:block;
        text-align: center;
        margin-bottom: 0px;
        font-size: 28px;
        cursor: pointer;
        position: absolute;
        top: 0;
    }
    .homeInfoContainer p {
        display: none;
    }
}